@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

/* site ----------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  font-family: Lora, YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
  font-weight: 300;
  font-size: 100%;
  color: #333;
  background: #fff;
}
a:link {
  color: #1a0dab;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #609;
}
li {
  line-height: 1.6;
}
dt {
  line-height: 1.6;
  font-weight: bold;
  margin-top: 10px;
}
dd {
  line-height: 1.6;
}
pre {
  background: #fafafa;
  padding: 10px;
  border-radius: 3px;
}
::selection {
  color: #222;
  background: #FFEDD6;
  text-shadow: none;
}


/* width ----------------------------------------------------------------*/
#container {  width: 100%;}
#main { width: 900px}
/*#container #content {  width: 940px;}*/
#box2 {  width: 100%;}
/* blog ----------------------------------------------------------------*/
#blog-title {
  display: none;
  text-align: right;
  max-width: 1200px;
  margin: 40px auto 0;
  padding: 0 5%;
  background: #FFEEEE;
}
#blog-title h1 {
  padding: 0 50px;
  font-size: 1em;
}
#wrapper {
  max-width: 1200px;
  margin: 40px auto 0;
  padding: 0 5%;
}
article {
  padding: 40px;
  background: rgba(255,255,255,0.5);
  border-radius: 3px;
}

/* entry-header --------------------------------------------------------*/
.entry-header .date {
  text-align: right;
  margin: 0 0 0 1%;
  background: #EEFFEE;
}
.entry-header .date a {
  color: #aaa;
  text-decoration: none;
  margin: 0 1%;
}
.entry-header .entry-title {
  font-weight: 300;
  font-size: 2.5em;
  padding: 0 0 10px;
  color: #333;
  margin: 0 1% 40px;
  box-shadow: 0 10px 0 rgba(0,0,0,0.02);
  letter-spacing: -3px;
  line-height: 1;
}
.entry-header .entry-title a {
  color: inherit;
  text-decoration: none;
}
.entry-header .entry-header-menu {
  position: absolute;
  margin: 0 0 0 1%;
}
.entry-content code {
  font-size: 90%;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}

/* entry-content --------------------------------------------------------*/
.entry-content {
  background: #EEEEFF;
  padding: 5px 8%;
}
.entry-content p:first-child {
  margin-top: 0;
}
.entry-content p {
  font-size: 1.15em;
  line-height: 1.6;
  font-weight: 300;
  padding: 5px 0;
  text-align: justify;
  letter-spacing: 0;
  margin: 0.9em 0;
}
.entry-content .keyword {
  color: inherit;
  text-decoration: none;
}
.entry-content h1 {
  font-size: 43px;
  margin-bottom: 0;
}
.entry-content h2 {
  font-size: 38px;
  margin-bottom: 0;
}
.entry-content h3 {
  font-size: 33px;
  margin-bottom: 0;
  padding-bottom: 6px;
  border-bottom: 2px solid #eee;
}
.entry-content h4 {
  font-size: 28px;
  margin-bottom: 0;
}
.entry-content h5 {
  font-size: 23px;
  margin-bottom: 0;
}
.entry-content h6 {
  font-size: 18px;
  margin-bottom: 0;
}
.entry-content table {
  border-collapse: collapse;
  margin: 20px 0 40px;
}
.entry-content table th, .entry-content table td {
  padding: 10px 25px 10px;
  border-bottom: 1px solid #ddd;
}
.entry-content img {
  border: none;
  box-shadow: 0 1px 2px #eee;
  border-radius: 3px;
}
.entry-content blockquote {
  background: #f5f5f5;
  margin: 1em 0;
  padding: 1em 2em;
  border-radius: 3px;
}
.entry-content blockquote p:last-child {
  margin-bottom: 0;
}

/* entry-footer ----------------------------------------------------------*/
.entry-footer {
  text-align: right;
  padding: 5px 8%;
}
.entry-footer .entry-footer-section {
  font-size: 19px;
  font-style: italic;
}
.entry-footer .entry-footer-section:before {
  content: "by ";
}
.entry-footer .entry-footer-time:before {
  content: " ― ";
  padding: 0 0.4em;
}

/* comment ---------------------------------------------------------------*/
.comment {
  text-align: left;
}
.entry-comment {
  list-style: none;
  margin: 60px 0 40px;
}
.leave-comment-title {
  color: #1a0dab;
}
.leave-comment-title:hover {
  text-decoration: underline;
}
.comment-box {
  margin: 40px 0 80px;
}
.hatena-iframe-container {
  margin-bottom: 40px;
}

/* pager -----------------------------------------------------------------*/
.pager {
  margin: 80px auto;
  text-align: center;
}
.pager .pager-prev {
  margin-right: 40px;
}

/* box1, box2 ------------------------------------------------------------*/
/* アルファ値は処理が重いというもっぱらのうわさです。
#box1, #box2 {
  padding: 0 8%;
  background: #CCCCCC;
  background: rgba(0,0,0,0.02);
}
*/
#box1 {
  background: #CCFFCC;
}

#box2 {
  background: #CCCCCC;
}
#box1:before, #box1:after { content: " "; display: table; }
#box2:before, #box2:after { content: " "; display: table; }
#box1:after, #box2:after { clear: both; }
#box1, #box2 { *zoom: 1; }

.hatena-module {
  margin: 40px;
  float: left;
}

/* footer ----------------------------------------------------------------*/
#footer {
  clear: both;
  width:100%;
  padding: 10px 0 30px;
  margin: 0 auto;
  text-align: center;
  background: #FFCCCC;
/* アルファ値は処理が重いというもっぱらのうわさです。
  background: rgba(256,0,0,0.2);
*/
  line-height: 40%;
  font-size: 80%;
}
#footer a {
  color: inherit;
  text-decoration: none;
}
