@charset "utf-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.clearfix {
  display: block;
  *zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Common ------------------------------*/

body {
  background: #fff;
  color: #1a1a1a;
  font: 15px/1.6 "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", Helvetica, Arial, sans-serif;
}
html,
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif;
  color: #1a1a1a;
  background-color: #ffffff;
}
a {
  color: #1a1a1a;
}
a:hover {
  color: #0f5373;
}
a:visited {
  color: #1a1a1a;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #333333;
  text-decoration: none;
}
a.keyword {
  text-decoration: none;
  border-bottom: 1px dotted #999999;
  color: #1a1a1a;
}

/* Buttons ---------------------------------------- */
/* 何が何だか？ */

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #1a1a1a;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.btn:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
.btn-small {
  padding: 2px 10px !important;
  font-size: 11px !important;
}
.btn-large {
  padding: 13px 19px;
  font-size: 17px;
  line-height: normal;
  font-weight: bold;
}

/* Globalheader ---------------------------------------- */

/* グローバルヘッダの領域規定 */
#globalheader-container {/*  background: #FFFFFF;  color: #999999;  top: 0;  left: 0;  width: 100%;*/}

/* Container ---------------------------------------- */

/* コンテンツの領域規定。 */
#container {/*  margin: 0 auto 0 auto;  width: 100%;*/  background: #BBFFBB;}
/* メインカラムの領域規定 */
#main {  margin: 0 auto 0 auto;  width: 973px;  margin-bottom: auto;}
/* メインカラムの領域規定。こちらは失敗 */
/*#container #content {  width: 940px}*/
/* Container内側の余白規定。必要ないがあえてのこしておきます。 */
/*#container-inner {  padding: 0 0 0 0;}*/
/* サイドバーの領域規定 */
#box2 {/*  width: 100%;*/}

/* Blogtitle(header) ---------------------------------------- */

/* ブログタイトルテーブル全体の領域規定。#mainに縛られてないみたい */
#blog-title {  display: none;}
/*#blog-title {  margin:0 auto 0 auto;  width: 973px;  background: #CCCCFF;}*/
/* ブログタイトル領域を規定します。 */
/*#title {  background: #FFCCCC;}*/
/* ブログタイトルのリンク領域を規定します。 */
/*#title a {  background: #CCCCCC;}*/
/* タイトル下のリードの領域を規定します。 */
/*#blog-description {  background: #CCFFCC;}*/

/* Entry ---------------------------------------- */

/* 記事コンテンツの領域規定 */
.entry {  position: relative;/*  width: 100%;  margin-bottom: 100px;*/  background: #EEEEFF;}
/* 記事タイトル部の領域規定 */
.entry-header {  position: relative;/*  width: 97.2%; margin:0 auto 0 auto;*/  background: #FFFF00;}
/* 記事タイトルの文字領域規定 */
.entry-title {  display: inline;  font-size: 13px;  font-weight: normal;  margin: 1.4%;}
/* 日付ボタンの領域規定 */
.date {  display: none;}
/*.date {  position: absolute;  font-size: 11px;  z-index: 100;  background: #AAAAFF;}*/
/* 日付表示のハイフネーション指定 */
/*.date .hyphen {  padding: 2px;  color: #999999;}*/
/* 日付の装飾指定 */
/*.date a {  color: #1a1a1a;  text-decoration: none;  display: inline-block;}*/
/* カテゴリボタンの領域規定 */
.categories {  display: inline;}
/*.categories {  display: inline;  float: right;  margin-right: 10%;}*/
/* カテゴリボタンの装飾指定 */
.categories a {  font-size: 12px;  color: #DDDDDD;  text-decoration: none;}
/* カテゴリボタンの前にアイコンをつけます */
.categories a:before {  font-family: "blogicon";  content: "\f022";  padding-right: 4px;}
/* カテゴリボタンのマウスオーバー時の動作指定 */
.categories a:hover {  color: #999999;  transition:0.8s;}
/* 記事がカテゴリーに属していない時の領域指定 */
.categories.no-categories {  margin: 0;}
/* 編集ボタンの領域規定 */
.entry-header-menu {  display: inline;  padding-left: 5%}
/* 編集ボタンの装飾指定 */
.entry-header-menu a {  font-size: 12px;  color: #DDDDDD;  text-decoration: none;}
/*.entry-header-menu a {    display: inline-block;  *display: inline;  *zoom:1;
  line-height: 18px;  text-align: center;  vertical-align: middle;  padding: 1px 12px;  cursor: pointer;
  font-size: 12px;  text-decoration: none;  color: #CCCCCC;  background: #FFFFFF;
  border: 1px solid #CCCCCC;  border-radius: 3px;}*/
/* 編集ブタンの前にアイコンをつけます */
.entry-header-menu a:before {  font-family: "blogicon";  content: "\f010";  padding-right: 4px;}
/* 編集ボタンのマウスオーバー時の動作指定 */
.entry-header-menu a:hover {  color: #999999;  transition: 0.8s;}

/* entry-content ---------------------------------------- */
/* 記事本文の領域規定。boilerplateからのこぴぺです。しかし縦書文庫のほうで規定しているようすです。 */

.entry-content {  text-align: center;}
.entry-content p {  margin: 0 0 2em 0;  font-size: 13px;}
.entry-content img {  max-width: 100%;  max-height: 1280px;  display: block;  margin: 0 auto 2em;  line-height: 1;}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {  margin: 1.3em 0 0.8em 0;  line-height: 1.5;}
.entry-content h1 {  font-size: 160%;}
.entry-content h2 {  font-size: 150%;}
.entry-content h3 {  font-size: 140%;}
.entry-content h4 {  font-size: 130%;}
.entry-content h5 {  font-size: 110%;}
.entry-content h6 {  font-size: 100%;
}.entry-content table {  border-collapse: collapse;  border-spacing: 0;  margin-bottom: 1em;}
.entry-content table img {  max-width: none;}
.entry-content table th,.entry-content table td {  border: 1px solid #ddd;  padding: 5px 10px;}
.entry-content table th {  background: #f5f5f5;}
.entry-content blockquote {  border: 1px solid #999999;  margin: 0 0 10px;  padding: 20px;}
.entry-content blockquote p {  margin-top: 0;  margin-bottom: 0;}
.entry-content pre {  border: 1px solid #999999;  margin: 0 0 10px;  padding: 20px;  white-space: pre;}
.entry-content pre > code {
  margin: 0;  padding: 0;
  white-space: pre;
  border: 0;
  background: transparent;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content code {
  font-size: 90%;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content .hatena-asin-detail li {  line-height: 1.4;}

/* entry-footer ---------------------------------------- */

/* 記事のフッターの領域規定 */
.entry-footer {  margin:0 20% 0 20%;  background: #FFEEEE;  margin-bottom: 60px;/*  padding-bottom: 60px;*/}
/*.entry-footer {  background: #FFEEEE;  margin:0 180px 0 180px;  padding-bottom: 60px;}*/
/* 文責と投稿時間だけ？ */
.entry-footer-section {  display: none;}
/*.entry-footer-section {  font-size: 80%;  color: #999999;}*/
/*.entry-footer-section a {  text-decoration: none;}*/
/* 投稿時間の装飾指定 */
/*.entry-footer-section a {  color: #999999;}*/
/* はてなスターとかのブタン類？ */
/*.social-buttons,.entry-footer-html {  margin: 0 0 0 0;}*/

/* Comment-box ---------------------------------------- */

/* 投稿されたコメントボックスの領域規定 */
.comment-box ul {  list-style: none;  font-size: 13px;  color: #999999;/*  margin: 0 0 15px 0;  text-align: left;*/}
/* 投稿されたコメントボックスの本文の領域規定 */
.comment-box li {  padding: 10px 40px 10px 40px;  border-bottom: 1px solid #DDDDDD;  position: relative;}
/* コメントボックス最上段の罫線を指定 */
.comment-box li:first-child {  border-top: 1px solid #DDDDDD;}
/* コメントボックスを一覧表示するボタンと思われる。 */
.comment-box .read-more-comments {  padding-left: 0;}
/* 投稿者のアイコンの領域規定 */
.comment-box .hatena-id-icon {  position: absolute;  top: 18px;  left: 18px;
  width: 24px !important;  height: 24px !important;
  border-top-right-radius: 12px;  border-bottom-right-radius: 0;  border-bottom-left-radius: 0;  border-top-left-radius: 0;
  border-radius: 12px;  background-clip: padding-box;
}
/* 投稿者名の領域規定 */
.comment-user-name {  margin: 4px 0 3px 0;}
/* 投稿者名の装飾指定 */
.comment-user-name a {  color: #666666;  text-decoration: none;}
/* 本文の折り返しを規定 */
.comment-content {  margin: 0;  word-wrap: break-word;}
/*コメント本文上のマージンを0に！ */
.comment-content p {  margin: 0;}

/* 投稿時間の装飾を指定しています。 */
.comment-metadata {  font-size: 11px;  color: #999999;/*  margin: 0;*/ text-align: right;}
/*.comment-metadata a {  color: #000000;}*/

/* 書き込みボタンの領域を規定します。 */
.leave-comment-title {  font-size: 12px;  color: #DDDDDD;
/*  display: inline-block;  *display: inline;  *zoom:1;*/
/*  margin-left: 28px;  line-height: 18px;  text-align: center;  vertical-align: middle;  padding: 2px 10px;*/
/*  cursor: pointer;  text-decoration: none;*/
/*  border: 1px solid #CCCCCC;  border-radius: 3px;  background: #FFFFFF;*/
}
/* コメントボタンの前にアイコンをつけます */
.leave-comment-title:before {  font-family: "blogicon";  content: "\f010";  padding-right: 4px;}
/* コメントブタンのマウスオーバー時の動作を指定します。 */
.leave-comment-title:hover {  color: #999999;/*  background: #EEEEEE;*/  transition: 0.8s;}




/* sidebar ---------------------------------------- */
/* ★box2についての指定です。 */

/* サイドバーの領域規定 */
#box2 {
  bottom: 80px;
  width: 100%;
  height: 220px;
  color: #BBBBBB;
  background: #333333;
  font-size: 13px;
/*  padding: 0 0 80px 0;*/
}
/*#box2 {
  font-size:100%;
  padding:10px 1%;
}*/
.hatena-module {
  margin-bottom:25px;
  width:31%;
  display:inline-block;
  vertical-align: top;
  padding:3px;
}

.hatena-module:after {
  display: block;
  visibility:hidden;
  height: 0;
  clear: both;
  content: ".2222";
}
.hatena-module-title {
  display:block;
  font-size:100%;
  padding-bottom:2px;
  border-bottom:solid 1px #001A43;
  width:50%;
}
.hatena-module-title a {
}
.hatena-module-title a:hover {
  text-decoration: underline;
}
.hatena-module-body {
    margin-top:5px;
    float: left;
}
.hatena-module-body .circle-urllist .circle-image {
  float: none;
  vertical-align:middle;
}
.hatena-module-profile .profile-icon {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  margin-top: 4px;
  border:solid 1px;
  border-radius: 4px;
  background-clip: padding-box;
}
.hatena-module-profile .id a {
  text-decoration: none;
}
.hatena-module-profile .profile-description p {
  margin: 10px 0;
}

/* カテゴリー */
.hatena-module-category .hatena-module-body ul.hatena-urllist li {
   display:inline-block;
   margin:5px 0;
}

.hatena-module-category .hatena-module-body ul.hatena-urllist li a{
  padding:2px 10px;
	border: 1px solid #e4e4e4;
	border-radius: 2px;
}
.hatena-module-category .hatena-module-body ul.hatena-urllist li a:hover{
	color: #FFFFFF;
	background-color: #448AB0;
  transition:0.8s;
  border-radius:2px;
}


.hatena-module {  clear: both;  overflow: hidden;}


/* プロフィールの読者になるボタン？ */
.hatena-follow-button-box {  display: inline-block;  margin: 0;  vertical-align: middle;}
/* 最新記事とカテゴリのリスト形式規定 */
.hatena-urllist {  list-style: none;  margin: 0 0 0 0;  padding: 0 0 0 0;}
/* 最新記事とカテゴリの本文の領域規定 */
.hatena-urllist li {  padding: 0;  line-height: 1.5;}
/* 最新記事とカテゴリの本文の装飾指定 */
.hatena-urllist li a {  color: #999999;  text-decoration: none;}



/* search-box (hatena-module) ---------------------------------------- */
/* ほりゅう！ */

.hatena-module-search-box .search-form {
  border: none;
  background: #f5f5f5;
  width: 200px;
  position: relative;
}
.hatena-module-search-box .search-module-input {
  padding: 5px;
  color: #1a1a1a;
  background: none;
  border: none;
  outline: none;
  height: 20px;
  width: 90%;
}
.hatena-module-search-box .search-module-button {
  width: 20px;
  height: 20px;
  background: transparent url(http://blog.hatena.ne.jp/images/theme/search.png) no-repeat right center;
  border: none;
  outline: none;
  text-indent: -9999px;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.hatena-module-search-box .search-module-button:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

/* search-result-form ----------------------------------------- */
/* ほりゅう！ */

form.search-result-form {
  display: inline-block;
}




/* Pager ---------------------------------------- */

.pager {  margin: 0 0 30px;  display: block;  *zoom: 1;}
/* 記号とかの指定？ */
.pager:after {  display: block;  visibility: hidden;  font-size: 0;  height: 0;  clear: both;  content: ".";}
/* 戻るページ送りを規定 */
.pager .pager-prev {  float: left;  text-align: left;  width: 50%;  margin-right: 10%;}
.pager .pager-prev a {  color: #555555;}
/*  border-bottom: 1px solid #dfdfdf;*/
/* 進むページ送りを規定 */
.pager .pager-next {  float: right;  text-align: right;  width: 30%;  margin-left: 10%;}
.pager .pager-next a {  text-decoration: none; font-size: 11px;  color: #777777;}

/* footer -------------------------------------------------- */

/* フッターの領域規定。paddingをけすとなぜか横幅がイケナイことになります。 */
#footer {
  width: 100%;
  height: 80px;
/*  bottom:0;*/
/*  padding: 0.1% 0 2% 0;*/
  text-align: center;
  color: #BBBBBB;
/*  line-height: 3;*/
  background: #777777;
  font-size: 80%;
}
/* ID消しちゃいましょう！ */
#footer address {  display: none;}
/* フッターの段落要素的装飾 */
/*#footer p {  margin: 0;}*/
/* フッターのリンク要素的装飾*/
#footer a {  color: #BBBBBB;  text-decoration: none;}
/* IDとはてなリンクを1列に！ */
/*#footer address,#footer .services {  display: inline;  padding-right: 1em;}*/


/* page-about ---------------------------------------- */

/* アバウトページの領域規定 */
.page-about .entry-content {    color: #999999; text-align: left;  margin: 0 20% 0 20%; padding: 8% 0 4% 0;}
/* サムネイルですね。 */
/*.page-about .entry-content img {  display: none;}*/
.page-about .entry-content img {  margin: 0;  display: inline-block;  vertical-align: middle;}
/* サブタイトルの装飾指定 */
.page-about dt {  font-size: 13px;  color: #BBBBBB; margin: 6% 0 0 0;}
/* 各要素の領域規定*/
.page-about dd {  margin: 0 0 0 0;}

/* archive ---------------------------------------- */

/* アーカイブコーナーのカラム領域規定 */
.page-archive #main {  width: 60%;  margin: 0 auto 0 auto;}
/* アーカイブコーナーのタイトル文字の装飾 */
.page-archive #main h2 {  color: #999999;  font-weight: normal;  font-size: 15px;  padding-top:50px;}
/* アーカーブページの本文の領域規定 */
/*.page-archive .entry-title {  margin: 0 0 0 0;}*/
.page-archive .archive-entries {  color: #999999;}
/* 何？ */
.page-archive .archive-entries .date {  position: static;}
/* アーカーブページの本文の領域規定 */
.page-archive .archive-entries .archive-entry {  position: relative;  margin-bottom: 3em;} 
/* アーカーブページの本文サブタイトルの領域規定 */
.page-archive .archive-entries .entry-title {  font-size: 13px;  margin: 0 0 .5em;}
.page-archive .archive-entries .entry-title  a {  color: #777777;}
/* 何？　保留です。 */
.page-archive .archive-entries .entry-description {  margin: 0 0 1em;  line-height: 1.7em;  font-size: 13px;}
/* サムネイル？　保留です。 */
.page-archive .entry-thumb {  margin-right: 80px;}

/*カテゴリ表示。これは重要ですね！ */
/*.page-archive .archive-entries .categories {  margin-top: -60px;}*/
/* カテゴリ表示ページのカテゴリボタンの領域規定*/
/*.page-archive .categories {  ;}*/
/* カテゴリ表示ページのカテゴリボタンの装飾指定*/
/*.page-archive .categories a {  ;}*/
