@charset "utf-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.clearfix {
  display: block;
  *zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Common ------------------------------*/

body {
  background: #fff;
  color: #1a1a1a;
  font: 15px/1.6 "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", Helvetica, Arial, sans-serif;
}
html,
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif;
  color: #1a1a1a;
  background-color: #ffffff;
}
a {
  color: #1a1a1a;
}
a:hover {
  color: #0f5373;
}
a:visited {
  color: #1a1a1a;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #333333;
  text-decoration: none;
}
a.keyword {
  text-decoration: none;
  border-bottom: 1px dotted #999999;
  color: #1a1a1a;
}

/* Buttons ---------------------------------------- */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #1a1a1a;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.btn:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
.btn-small {
  padding: 2px 10px !important;
  font-size: 11px !important;
}
.btn-large {
  padding: 13px 19px;
  font-size: 17px;
  line-height: normal;
  font-weight: bold;
}

/* Globalheader ---------------------------------------- */
/* Globalheaderの中はiframeですが、 #globalheader-container に背景色や文字色を指定することでirameの中にも色が反映されます。 */

/* グローバルヘッダの領域を規定します。 */
#globalheader-container {
  background-color: #fff;
  color: #999;
  top: 0;
  left: 0;
  width: 100%;
}

/* Container ---------------------------------------- */
/* ブログタイトル部、本文タイトル部、本文部、コメント部などを包括するテーブルです。 */

/* テーブルの領域を規定します。 */
#container {  width: 100%;  margin: 0 auto 0 auto;  background: #FFEEEE;}
/* メインカラムの領域を規定します。 */
#main {  margin: 0 auto 0 auto; width: 973px;}
/*#main {  margin-left: auto;  margin-right: auto; width: 973px;}*/
/* メインカラムの領域を規定します。こちらは失敗です。 */
/*#container #content {  width: 940px}*/
/* Container内側の余白を規定します。必要ないがあえてのこしておきます。 */
#container-inner {  padding: 0 0 0 0;}
/* サイドバーのの領域を規定します。 */
#box2 {  width: 100%;}

/* Blogtitle(header) ---------------------------------------- */
/* ブログタイトル部、リード部を包括するテーブルです。 */

/* ブログタイトルテーブル全体の領域を規定します。 */
#blog-title {  display: none;  width: 973px;}
/*#blog-title {  background: #CCCCFF;  padding: 10px 0 10px 0;}*/
/* ブログタイトル領域を規定します。 */
/*#title {  background: #FFCCCC;}*/
/* ブログタイトルのリンク領域を規定します。 */
/*#title a {  background: #CCCCCC;}*/
/* タイトル下のリードの領域を規定します。 */
/*#blog-description {  background: #CCFFCC;}*/

/* Entry ---------------------------------------- */
/* 記事タイトル部、日付部、カテゴリー表示部、記事本文部、コメント部などを包括するテーブルです。*/

/* テーブル全体の領域を規定します。 */
.entry {  position: relative;  margin-bottom: 0px;  background: #EEEEFF;}
/* 記事タイトル部の領域を規定します。 */
.entry-header {  position: relative;/*  text-align: left;*/  background: #FFFF00;}
/* 日付部、記事タイトル部、カテゴリー部のline-heightを指定します。 */
.date,.entry-title,.categories {  line-height: 0px;}
/* 記事タイトルを規定します。 */
.entry-title {  display: inline;  font-size: 13px;  font-weight: normal;  margin: 1.4%;}
/* 日付ボタンの領域を規定します。 */
.date { display: none; }
/*.date {  position: absolute;  font-size: 11px;  z-index: 100;  background: #AAAAFF;}*/
/* ハイフネーションを指定します。 */
.date .hyphen {  padding: 2px;  color: #999999;}
/* 日付ボタンの装飾を指定します。 */
.date a {  color: #1a1a1a;  text-decoration: none;  display: inline-block;}
/* カテゴリボタンの領域を規定します。 */
.categories {  position: absolute;  font-size: 11px;  right: 10%;  top: 56%;}
/* カテゴリボタンの装飾を指定します。 */
.categories a {
  cursor: pointer;
  padding: 2px 10px;
  color: #CCCCCC;
  text-decoration: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background: #FFFFFF;
}
/* カテゴリボタンのマウスオーバー時の動作を指定します。 */
.categories a:hover {  background: #F3F3F3;}
/* 記事がカテゴリーに属していなかった時の動作を指定します。 */
.categories.no-categories {  margin: 0;}
/* 編集ボタンの領域を規定します。 */
.entry-header-menu {  position: absolute;  font-size: 11pz;  bottom: 2%;  left: 0.5%;}
/* 編集ボタンの装飾を指定します。 */
.entry-header-menu a {
/*  display: inline-block;
  *display: inline;
  *zoom:1;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;*/
  cursor: pointer;
  padding: 2px 10px;
  color: #CCCCCC;
  text-decoration: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background: #FFFFFF;
}
/* 編集ボタンのマウスオーバー時の動作を指定します。 */
.entry-header-menu a:hover {  background: #F3F3F3;}

/* entry-content ---------------------------------------- */
/* 記事本文のテーブルです。boilerplateからのこぴぺです。ここでは無視します。 */

.entry-content {
  text-align: center;
}
.entry-content p {
  margin: 0 0 2em 0;
  font-size: 13px;
}
.entry-content img {
  max-width: 100%;
  max-height: 1280px;
  display: block;
  margin: 0 auto 2em;
  line-height: 1;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 1.3em 0 0.8em 0;
  line-height: 1.5;
}
.entry-content h1 {
  font-size: 160%;
}
.entry-content h2 {
  font-size: 150%;
}
.entry-content h3 {
  font-size: 140%;
}
.entry-content h4 {
  font-size: 130%;
}
.entry-content h5 {
  font-size: 110%;
}
.entry-content h6 {
  font-size: 100%;
}
.entry-content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
}
.entry-content table img {
  max-width: none;
}
.entry-content table th,
.entry-content table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}
.entry-content table th {
  background: #f5f5f5;
}
.entry-content blockquote {
  border: 1px solid #999999;
  margin: 0 0 10px;
  padding: 20px;
}
.entry-content blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}
.entry-content pre {
  border: 1px solid #999999;
  margin: 0 0 10px;
  padding: 20px;
  white-space: pre;
}
.entry-content pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: 0;
  background: transparent;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content code {
  font-size: 90%;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content .hatena-asin-detail li {
  line-height: 1.4;
}

/* entry-footer ---------------------------------------- */
/* 記事のフッターです。 */

/* 記事のフッターの領域を規定します。 */
.entry-footer {  background: #FFEEEE;  margin:0 180px 0 180px;  padding-bottom: 60px;}
/* 実質的には文責と時間程度ですかね。 */
.entry-footer-section {  font-size: 80%;  color: #999999;}
.entry-footer-section a {  text-decoration: none;}
/* 登校時間の装飾を指定します。 */
.entry-footer-section a {  color: #999999;}
/* はてなスターとかのブタン類を規定します。だと思います。 */
.social-buttons,.entry-footer-html {  margin: 0 0 0 0;}

/* Comment-box ---------------------------------------- */
/* コメント掲示板です。 */

/* 投稿されたコメントボックスの領域を規定します。 */
.comment-box ul {  list-style: none;  margin: 0 0 15px 0;  padding: 0;  font-size: 13px;  color: #999999;  text-align: left;}
/* 投稿されたコメントボックスの本文の領域を規定します。 */
.comment-box li {  padding: 10px 20px 10px 60px;  border-bottom: 1px solid #EEEEEE;  position: relative;}
/* コメントボックス最上段の罫線を指定します。 */
.comment-box li:first-child {  border-top: 1px solid #EEEEEE;}
/* コメントボックスを一覧表示するボタンのようなものと思われる。 */
.comment-box .read-more-comments {  padding-left: 0;}
/* 投稿者のアイコンを指定します。 */
.comment-box .hatena-id-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px !important;
  height: 24px !important;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 12px;
  background-clip: padding-box;
}
/* 投稿者名の領域を規定します。 */
.comment-user-name {  margin: 4px 0 3px 0;}
/* 投稿者名の装飾を指定します。 */
.comment-user-name a {  color: #666666;  text-decoration: none;}
/* 本文の折り返しを指定しています。 */
.comment-content {  margin: 0;  word-wrap: break-word;}
/* よくわからないので触らないでおきます。 */
.comment-content p {  margin: 0;}
/* 投稿時間の装飾を指定しています。 */
.comment-metadata {  font-size: 11px;  color: #666666;  margin: 0; text-align: right;}
.comment-metadata a {  color: #666666;}
/* 書き込みボタンの領域を規定します。 */
.leave-comment-title {  margin-left: 28px;  font-size: 11px;
/*  display: inline-block;
  *display: inline;
  *zoom:1;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;*/
  cursor: pointer;
  padding: 2px 10px;
  color: #CCCCCC;
  text-decoration: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background: #FFFFFF;
}
/* 書き込みボタンのマウスオーバー時の動作を指定します。 */
.leave-comment-title:hover {  background: #f3f3f3;  color: #CCCCCC;}

/* sidebar ---------------------------------------- */
/* box2についての指定です。 */

#box2 {
  width: 100%;
  background: #FFFFEE;
  font-size: 13px;
  margin-bottom: 0px;
}
.hatena-module {
  border-top: 1px solid #999999;
  padding-top: .5em;
  margin-bottom: 1.5em;
  display: block;
  *zoom: 1;
}
.hatena-module:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.hatena-module-title {
  font-size: 13px;
  float: left;
  width: 200px;
}
.hatena-module-title a {
  color: #1a1a1a;
  text-decoration: none;
}
.hatena-module-title a:hover {
  text-decoration: underline;
}
.hatena-module-body {
  float: left;
}
.hatena-module-body .circle-urllist .circle-image {
  float: none;
  vertical-align: middle;
}
.hatena-module-profile .profile-icon-link {
  display: inline-block;
  width: 24px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 3px;
}
.hatena-module-profile .profile-icon {
  width: 24px;
  margin: 0;
  vertical-align: middle;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 12px;
  background-clip: padding-box;
}
.hatena-module-profile .id a {
  text-decoration: none;
}
.hatena-module-profile .profile-description p {
  margin: 10px 0;
}
.hatena-follow-button-box {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.hatena-urllist {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.hatena-urllist li {
  padding: 0;
}
.hatena-urllist li a {
  text-decoration: none;
}
.hatena-module-search-box .search-form {
  border: none;
  background: #f5f5f5;
  width: 200px;
  position: relative;
}
.hatena-module-search-box .search-module-input {
  padding: 5px;
  color: #1a1a1a;
  background: none;
  border: none;
  outline: none;
  height: 20px;
  width: 90%;
}
.hatena-module-search-box .search-module-button {
  width: 20px;
  height: 20px;
  background: transparent url(http://blog.hatena.ne.jp/images/theme/search.png) no-repeat right center;
  border: none;
  outline: none;
  text-indent: -9999px;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.hatena-module-search-box .search-module-button:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.pager {
  margin: 0 0 30px;
  display: block;
  *zoom: 1;
}
.pager:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.pager .pager-prev {
  float: left;
  text-align: left;
  width: 45%;
}
.pager .pager-next {
  float: right;
  text-align: right;
  width: 45%;
}

/* footer -------------------------------------------------- */
/* フッターです。 */

/* フッターの領域的要素。paddingをけすとなぜか横幅がイケナイことになります。 */
#footer {
  padding: 0.1% 0 2% 0;
  text-align: center;
  color: #CCCCCC;
/*  line-height: 3;*/
  background: #333333;
  font-size: 80%;  width: 100%;}
/* ID消しちゃいましょう！ */
#footer address {  display: none;}
/* フッターの段落要素的装飾 */
/*#footer p {  margin: 0;}*/
/* フッターのリンク要素的装飾*/
#footer a {  color: #CCCCCC;  text-decoration: none;}
/* IDとはてなリンクを1列に！ */
/*#footer address,#footer .services {  display: inline;  padding-right: 1em;}*/


/* page-about */
/* Aboutページについて */

/* アバウトページの領域規定 */
.page-about .entry-content {    color: #999999; text-align: left;  margin: 0 15% 0 15%; padding: 8% 0 4% 0;}
/* サムネイルですね。 */
/*.page-about .entry-content img {  display: none;}*/
.page-about .entry-content img {  margin: 0;  display: inline-block;  vertical-align: middle;}
/* サブタイトルの装飾指定 */
.page-about dt {  font-size: 13px;  color: #BBBBBB; margin: 6% 0 0 0;}
/* 各要素の領域規定*/
.page-about dd {  margin: 0 0 0 0;}

/* archive */
/* アーカイブコーナーのテーブルです。 */

/* アーカイブコーナーのカラム領域規定 */
.page-archive #main {  padding-top: 30px;  margin: 0 15% 0 15%;}
/* アーカーブページの本文の領域規定 */
/*.page-archive .entry-title {  margin: 10% 0 10% 0;}*/
.page-archive .archive-entries {  color: #999999;}
/* 何？ */
.page-archive .archive-entries .date {  position: static;}
/* アーカーブページの本文の領域規定 */
.page-archive .archive-entries .archive-entry {  position: relative;  margin-bottom: 3em;} 
/* アーカーブページの本文サブタイトルの領域規定 */
.page-archive .archive-entries .entry-title {  font-size: 13px;  margin: 0 0 .5em;}
.page-archive .archive-entries .entry-title  a {  color: #777777;}
/*カテゴリ表示。これは重要ですね！ */
.page-archive .archive-entries .categories {  margin-top: -60px;}
/*.page-archive .archive-entries .categories {  margin: -58px 0 .5em;}*/
/* 何？　保留です。 */
.page-archive .archive-entries .entry-description {  margin: 0 0 1em;  line-height: 1.7em;  font-size: 13px;}
/* サムネイル？　保留です。 */
.page-archive .entry-thumb {  margin-right: 80px;}
